<h1>New Device</h1>
<%= form_for :device, url: devices_path do |f| %>
<table class="table_edit" >
  <tbody>
    <tr>
      <td><b>Name of Device:</b></td>
      <td><%=f.text_field :device_name %></td>
    </tr>
    <tr>
      <td><b>Manufactuer of Device:</b></td>
      <td><%=f.text_field :device_manufacturer%></td>
    </tr>
    <tr>
      <td><b>Model of Device:</b></td>
      <td><%=f.text_field :device_model %></td>
    </tr>
    <tr>
      <td><b>Type of Device:</b></td>
      <td><%=f.select(:device_type,[['Phone'],['Tablet'],['Laptop'],['Other']]) %></td>
    </tr>
    <tr>
      <td><b>Price of the original device:</b></td>
      <td><%=f.number_field :device_cost %></td>
    </tr>
    <td><b>Registered user:</b></td>
          <td><%= f.collection_select :user_id, User.all, :id, :user_id_name  %></td>
    <tr>
      <td><b>Start date of Device:</b></td>
      <td><%=f.text_field :start_date,"data-provide"=>'datepicker'%></td>
    </tr>
    <tr> 
      <td><b>Expiry date of Device:</b></td>
      <td><%=f.text_field :expiry_date,"data-provide"=>'datepicker'%></td>
    </tr>
    <tr>
      <td></td>
      <td style="text-align:right"><%=f.submit "Create" %></td>
    </tr>
    <tr>
      <td></td>
      <td> </td>
    </tr>
  </tbody>
</table>
<% end %>
