<div class="authform">
 <%= form_for User.new, url: create_user_path do |f| %>
    <h2>Create New User</h2>

  <div class="form-group">

          <%= f.label :first_name %><br>
          <%= f.text_field :first_name, :autocomplete => 'on' %>
        </div>
        <div class="form-group">
          <%= f.label :last_name %><br>
          <%= f.text_field :last_name, :autocomplete => 'on' %>
         </div>
         <div class="form-group">
           <%= f.label :office_location %><br />
           <%= f.text_field :office_location, autofocus: true %>
         </div>
         <div class="form-group">
          <B> <%= "Role of user" %></b><br>
           <%=f.select(:role,[['user'],['admin']]) %>
         </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
