<% if user_signed_in? %>
<h1>Welcome <span style="color:red;"><%= current_user.full_name %></span>

  </h1>
  <h4>Please find the instructions on how to use this system below</h4>

<% if current_user.admin? %>
  <%= "hello You can see this if you are an admin"%>
  <p style="color:purple"><b>Things to do:
    <li style="color:purple">Notification system</li>
    <li style="color:purple">Search users</li>
    <li style="color:purple">Overall look</li>
    <li style="color:purple">Other styled tables</li></b>
  </p>

<h3>The following users have requested an upgrade:</h3>
  <table class="table1" style="width:40%">
  	<tr>
  		<th>Device Name  </th>
  		<th>Device Owner  </th>
  		<th>Device Type  </th>
      <th>Original Expiry Date </th>

  	</tr>
  <% @devices.each do |n| %>
  	<td><%= link_to "#{n.device_name}",device_path(n) %> </td>
  <td><%= link_to "#{n.user.full_name}",user_path(n.user_id) %></td>
  	<td><%= link_to "#{n.device_type}",device_path(n) %> </td>
    <td><%= link_to "#{n.expiry_date.strftime("%d/%m/%y")}",device_path(n) %> </td>
  </tr>
  <% end %>
  </table>
  <% end %>
<% end %>
