<h1> Advanced Search </h1>
<br>
<%= form_for @search do |s| %>
<table class="table1" >
  <tbody>
    <tr>
      <td><b>Name of Device:</b></td>
      <td><%=s.text_field :device_name %></td>
    </tr>
		<tr>
      <td><b>Type of Device:</b></td>
      <td><%=s.select :device_type, options_for_select(@device_type), :include_blank => true %></td>
    </tr>
		<tr>
      <td><b>Manufacturer of Device:</b></td>
      <td><%=s.select :device_manufacturer, options_for_select(@device_manufacturer), :include_blank => true %></td>
    </tr>
		<tr>
      <td><b>Model of Device:</b></td>
      <td><%=s.text_field :device_model %></td>
    </tr>
		<tr>
      <td><b>Minimum Original Cost of Device:</b></td>
      <td><%=s.text_field :min_price, size: 10 %></td>
    </tr>
		<tr>
      <td><b>Maximum Original Cost of Device:</b></td>
      <td><%=s.text_field :max_price, size: 10 %></td>
    </tr>
		<tr>
      <td colspan="2" style="text-align:center">The format for the dates is YYYY-MM-DD</td>
    </tr>
		<tr>
      <td><b>Find Device(s) that started between:</b></td>
      <td><%=s.text_field :start_date,"data-provide"=>'datepicker' %><b><center> and </b></center><%= s.text_field :start_date_min,"data-provide"=>'datepicker' %>
			</td>
    </tr>
		<tr>
      <td><b>Find Device(s) that expire between:</b></td>
      <td><%=s.text_field :expiry_date,"data-provide"=>'datepicker' %><b><center> and </b></center><%= s.text_field :expiry_date_min,"data-provide"=>'datepicker' %>
			</td>
    </tr>
		<tr>
      <td></td>
      <td style="text-align:right"><%=s.submit "Search" %></td>
    </tr>
<% end %>

<%= link_to "Back",devices_path %>
