<h1>Search results</h1>
<p><%= link_to "back", new_search_path %> </p>
<% if @search.search_devices.empty? %>
	<p>No results found </p>
<% else %>

<table class="table1" >
	<tr>
		<th>Device Name  </th>
		<th>Device Owner</th>
		<th>Device Type  </th>
		<th>Edit  </th>
	</tr>
		<% @search.search_devices.each do |c|  %>
	<td><%= link_to "#{c.device_name}",device_path(c) %> </td>
	<td><%= link_to "#{c.user.first_name}",user_path(c.user_id) %></td>
	<td><%= link_to "#{c.device_type}",device_path(c) %> </td>
	<td><%= link_to "Edit ", edit_device_path(c) %></td>
</tr>
<% end %>
</table>
<% end %>
